/* 
Estilo para la tabla
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #f7fafc; /* Gray-100 */
  /* font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb; /* Gray-50 */
/* }

tbody tr:hover {
  background-color: #f0f4f8; /* Light hover color */
/* }

/* Estilo para los botones */
/* button {
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #333; /* Color oscuro en hover */
/* }

button:active {
  transform: scale(0.98); /* Efecto de pulsación */
/* } */ 
